.cakeItem {
	width: 380px;
	text-align: center;
	padding: 0 4px 60px 4px;

	@media (max-width: 768px) {
		padding: 20px 0 0 0;
	}
}

.cakeImage {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 245px;
	width: 380px;

	@media (max-width: 768px) {
		width: 350px;
		margin: 0 auto;
	}

	img {
		height: 100%;
		width: auto;
	}
}

.cakeName {
	margin: 30px 0 0 0;
	font-size: 32px;

	@media (max-width: 768px) {
		margin: 8px 0 0 0;
	}
}

.cakeDescription {
	margin: 10px 0 0 0;
	font-size: 16px;

	@media (max-width: 768px) {
		margin: 4px 0 0 0;
	}
}

.cakePrice {
	font-size: 24px;
}
