.text {
	color: white;
}

.hero {
	background: url('/public/bg.png') top left / 100% 1295px no-repeat;
	height: 1195px;

	@media (min-width: 768px) and (max-width: 1280px) {
		background: url('/public/bg.png') top left / 100% 760px no-repeat;
		height: 760px;
	}

	@media (max-width: 768px) {
		background: url('/public/bg.png') top left / 100% 580px no-repeat;
		height: 580px;
	}
}

.heroContent {
	width: 1180px;
	margin: 0;
	margin-left: 4px;
	padding-top: 240px;
	padding-left: 160px;

	@media (min-width: 768px) and (max-width: 1280px) {
		padding-top: 100px;
		padding-left: 20px;
	}

	@media (max-width: 768px) {
		width: 400px;
		padding-top: 60px;
		padding-left: 0;
	}

	h1 {
		font-size: 48px;
		font-weight: bold;
		color: #fff;
		width: 540px;

		@media (min-width: 768px) and (max-width: 1280px) {
			width: 400px;
			font-size: 34px;
			margin-bottom: 8px;
		}

		@media (max-width: 768px) {
			width: 240px;
			font-size: 22px;
		}
	}

	p {
		color: #fff;
		width: 380px;

		@media (min-width: 768px) and (max-width: 1280px) {
			font-size: 20px;
			width: 280px;
		}

		@media (max-width: 768px) {
			font-size: 14px;
			width: 180px;
		}
	}
}

.heroBlock {
	display: flex;
	justify-content: left;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: baseline;
	}

	@media (min-width: 768px) and (max-width: 1280px) {
		flex-direction: column;
		align-items: baseline;
	}

	p {
		font-size: 16px;
		margin-left: 8px;

		@media (min-width: 768px) and (max-width: 1280px) {
			font-size: 14px;
		}

		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
}
